<!DOCTYPE html>
<html>
    <head>
        <title>Create Employee</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
    <body>
      <div class="container">
        <form action="../../Controllers/EmployeeController.php" method="post">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" class="form-control" id="firstNameId" placeholder="Enter First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" class="form-control" id="lastNameId" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="jobTitle">Job Title</label>
                <input type="text" name="jobTitle" class="form-control" id="jobTitleId" placeholder="Enter Job Title">
              </div>
            <div class="form-group">
              <input type="hidden" name="controllerMethod" class="form-control" id="controller" value="create">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </body>
    <script>
      window.onload = function() {
        document.getElementById('firstNameId').value = '';
        document.getElementById('lastNameId').value = '';
        document.getElementById('jobTitleId').value = '';
      }
    </script>
</html>