<!DOCTYPE html>
<html>
    <head>
        <title>Create Product</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
    <body>
        <form action="../../Controllers/ProductController.php" method="post">
            <div class="form-group">
              <label for="name">Product Name</label>
              <input type="text" name="name" class="form-control" id="nameId" placeholder="Enter Product Name">
            </div>
            <div class="form-group">
              <label for="price">Product Price</label>
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              <input type="text" name="price" class="form-control" id="priceId" placeholder="0.00">
            </div>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" class="form-control" id="quantityId" placeholder="0">
              </div>
            <div class="form-group">
              <input type="hidden" name="controllerMethod" class="form-control" id="controller" value="create">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
    <script>
      window.onload = function() {
        document.getElementById('nameId').value = '';
        document.getElementById('priceId').value = '0.00';
        document.getElementById('quantityId').value = '0';
      }
    </script>
</html>